*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pink{
    background-color: #E579E6;
    height: 100px;
}
.yellow{
    background-color: #E1D67A;
    height: 300px;
}
.blue {
    background-color: #0384FF;
    margin-bottom: 0;
}
.header-blue{
    float: none;
    height: 50px;
    background-color: #ABCFE7;
}
/* Il clearfix vanno sempre le stesse proprietà e
e va sempre nel contenitore, per ciò andrà ad applicare
a tutti gli elementi all'interno. */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.color-size{
    height: 300px;
    background-color: #ABCFE7;

}
aside{
    width: 20%;
  }

.left{
    float: left;
    margin-right: 20px;
  }

.middle{
    float: left;
    width: calc(60% - 40px);
}

.right{
    float: right;
    margin-left: 20px;
}

.top{
    margin-top: 20px;
    margin-bottom: 20px;
}

.purple{
    background-color: #8801FF;
    height: 50px;
    margin-top: 10px;
}